<ng-container *ngIf="data.usuarioEditado">
  <!-- Condicional para verificar se existe um usuário editado -->
  <mat-card class="edit-card">

    <!-- Cabeçalho do card com o título -->
    <mat-card-header>
      <!-- O título é dinâmico, dependendo se estamos editando ou adicionando -->
      <mat-card-title>
        <span *ngIf="data.usuarioEditado; else adicionar">
          {{ 'BOTOES.EDITAR_USUARIO' | translate }}
        </span>
        <ng-template #adicionar>
          {{ 'BOTOES.ADICIONAR_USUARIO' | translate }}
        </ng-template>
        
      </mat-card-title>
    </mat-card-header>

    <!-- Conteúdo do card com os campos do formulário -->
    <mat-card-content>

      <!-- Campo para nome -->
      <label>{{ 'HOME.NOME' | translate }}</label>
      <input matInput [(ngModel)]="data.usuarioEditado.nome" placeholder="Nome">

    </mat-card-content>

    <!-- Ações do card (botões Salvar e Cancelar) -->
    <mat-card-actions>
      <!-- Botão para salvar as alterações -->
      <button mat-button color="primary" (click)="salvar()">{{ 'BOTOES.SALVAR_USUARIO' | translate }}</button>
      <!-- Botão para cancelar a edição -->
      <button mat-button color="warn" (click)="cancelar()">{{ 'BOTOES.CANCELAR_USUARIO' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</ng-container>