<!-- Verifica se o objeto 'usuario' existe antes de exibir o conteúdo -->
<ng-container *ngIf="usuario"> 

  <!-- Cartão do Angular Material para exibir as informações do usuário -->
  <mat-card [ngClass]="['usuario-card', casaUsuario]" appearance="outlined">
    <!-- Cabeçalho do cartão com título e subtítulo -->
    <mat-card-header>
      <!-- Nome do usuário com classe 'truncate' para evitar quebras longas -->
      <mat-card-title class="truncate">{{ usuario?.nome }}</mat-card-title>
      <!-- E-mail do usuário com mesma formatação -->
      <mat-card-subtitle class="truncate">{{ usuario?.email }}</mat-card-subtitle>
    </mat-card-header>

    <!-- Exibição da foto do usuário. Caso não tenha uma foto, usa uma imagem padrão -->
    <img mat-card-image [src]="usuario.foto || 'assets/imagem/usuario.png'" alt="Foto do perfil">

    <!-- Seção de botões de ação (Editar e Excluir) -->
    <mat-card-actions>
      <!-- Botão para editar o usuário, usando tradução para internacionalização -->
      <button mat-button color="primary" (click)="editarUsuario(usuario)">
        {{ 'BOTOES.EDITAR_USUARIO' | translate }}
      </button>

      <!-- Botão para excluir o usuário, chamando a função com o ID do usuário -->
      <button mat-button color="warn" (click)="excluirUsuario(usuario.id)">
        {{ 'BOTOES.DELETAR_USUARIO' | translate }}
      </button>
    </mat-card-actions>

  </mat-card>
</ng-container>
