<!-- Botão para adicionar um novo usuário -->
<div class="lista-usuario">
  <button color="primary" (click)="abrirModalEdicaoOuAdicao(null)">
    {{ 'BOTOES.ADICIONAR_USUARIO' | translate }}
  </button>

  <!-- Botões para trocar o idioma -->
  <button (click)="mudarIdioma('pt')">{{ 'BOTOES.PORTUGUES' | translate }}</button>
  <button (click)="mudarIdioma('en')">{{ 'BOTOES.INGLES' | translate }}</button>
</div>

<!-- Lista de usuários -->
<div class="lista-usuario">
  <!-- Diretiva *ngFor para iterar sobre a lista de usuários -->
  <div *ngFor="let usuario of usuarios; let i = index" class="div-usuario">
    
    <!-- Componente de card para exibir os dados do usuário -->
    <usuario-card 
      [usuario]="usuario" 
      [casaUsuario]="classesHogwarts[i % 4]"
      (editarUsuarioEmit)="abrirModalEdicaoOuAdicao($event)" 
      (excluirUsuarioEmit)="excluirUsuario($event)">
    </usuario-card>
  </div>
</div>
