<!-- Botão para adicionar um novo usuário -->
<div class="lista-usuario">
  <button color="primary" (click)="abrirModalEdicaoOuAdicao(null)">
    {{ 'BOTOES.ADICIONAR_USUARIO' | translate }}
  </button>
  <button (click)="mudarIdioma('pt')">{{'BOTOES.PORTUGUES' | translate}}</button>
  <button (click)="mudarIdioma('en')">{{'BOTOES.INGLES' | translate}}</button>
</div>

<!-- Lista de usuários -->
<div class="lista-usuario">
  <div *ngFor="let usuario of usuarios; let i = index"
    [ngClass]="['div-usuario', i%2 === 0 ? 'div-usuaruio-par' : 'div-usuario-impar']">
    <!-- Componente para exibir o card do usuário -->
    <!-- Função abrirModalEdicaoOuAdicao - Abre o modal de edição -->
    <!-- Função excluirUsuario - Exclui o usuário -->
    <user-card [usuario]="usuario" (editarUsuarioEmit)="abrirModalEdicaoOuAdicao($event)"
      (excluirUsuarioEmit)="excluirUsuario($event)">
    </user-card>
  </div>
</div>